[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
appdirs = "==1.4.4"
asgiref = "==3.2.7"
astroid = "==2.4.2"
backcall = "==0.1.0"
certifi = "==2020.4.5.1"
chardet = "==3.0.4"
click = "==7.1.2"
colorama = "==0.4.3"
connection = "==0.0.0"
debug = "==0.3.2"
decorator = "==4.4.2"
distlib = "==0.3.1"
django = "==3.0.6"
filelock = "==3.0.12"
flask = "==1.1.2"
flask-mysqldb = "==0.2.0"
flask-sqlalchemy = "==2.4.4"
gcloud = "==0.18.3"
googleapis-common-protos = "==1.51.0"
gunicorn = "==20.0.4"
httplib2 = "==0.18.1"
idna = "==2.9"
ipdb = "==0.13.2"
ipython = "==7.14.0"
ipython-genutils = "==0.2.0"
isort = "==4.3.21"
itsdangerous = "==1.1.0"
jedi = "==0.17.0"
jinja2 = "==2.11.2"
lazy-object-proxy = "==1.4.3"
markupsafe = "==1.1.1"
mccabe = "==0.6.1"
mysql-client = "==0.0.1"
mysql-connector = "==2.2.9"
passlib = "*"
psycopg2 = "*"

[requires]
python_version = "3.8"
