{% extends 'layout.html' %}

{% block body %}
  </body>
  <h1><font size=10>About Us</font></h1>
  <p>About:

This website is a prototype is made to create a forum for the needy to get immediate access to ambulance and thereby to hoapitals without calling and waiting for a hospital to pick the call.

This prototype is made entire using python, sql and html.

A small step to make a huge difference. NEXT TO CREATING A LIFE THE FINEST A MAN CAN DO IS TO SAVE ONE</p>
  <h1><font size=8>Prerequisites</font></h1>
    <p>This is the most important part of the page and we hope you would follow the given below:</p>
  <h1><font size=5><strong>1. Python</strong></font></h1>
    <p>This is something that is written just to ensure you have the software, and we also know you wouldn't be able to read this without having it installed...
  [ducks while you throw things at the screen]. But the reason why we included this is because there are parts of the program that would work only for certain versions of Python.
  So we recommend you to have installed python 3.8.3, because if you are using this software forty years from now, and if the code has changed then we wouldn't be responsible [again ducks while you throw things at the screen] </p>
  <h1><font size=5><strong>2. MySQL</strong></font></h1>
    <p>We expect you to have installed MySQL Workbench and MySQL connector for Python and basically everything that the mysql community versions asks you to download, because if you fail to download something and there is a huge error that is displayed on your screen then it would be another headache for you to try and debug the error.</p>
    <p>Once you have done that, open Mysql Workbench editor and copy the code given below and run it</p>
      <div class="jumbotron text-center"><p style="color:red">
        <p>create database zorg;</p>
        <p>use zorg;</p>
        <p>create table register(username varchar(100) primary key, password varchar(100), name varchar(100), type char(1), ph_num varchar(20), area varchar(200), address text);</p>
        <p>create table custprof(username varchar(100), name varchar(100), aadhar varchar(20), age varchar(5), gender varchar(10), prevmedrcrds text, area varchar(200), address text, pincode varchar(10), ph_num varchar(10));</p>
        <p>create table doctor(name varchar(35), gender char(1), age char(2), salary int, id int);</p>
        <p>create table nurse(name char(35), gender char(1), age char(2), salary int, id int);</p>
        <p>create table other_staff(name char(35), gender char(1), age char(2), salary int, id int);</p>
        <p>create table appointment(patientname char(35), gender char(1), age integer, aadhar_no int, specialty char(30));</p>
      </div>
  <h1><font size=5><strong>3. Twilio</strong></font></h1>
    <p>Now this is the most important part of the program. When you press the emergency button a whatsapp message is sent to the nearest hospital authorities. To do this we have taken the help of Twilio</p>
    <p>Twilio enables its paid customers to send whatsapp messages to anyone who has a whatsapp account, but unfortunately since we are low on money, we are using the trial version Twilio offers.</p>
    <p>So for you to recieve the whatsapp messages and send them you have to follow certain steps</p>
    <p>1. Save the given number in your whatsapp enabled phone</p>
    <div class="jumbotron text-center"><p style="color:red">        +14155238886     </p></div>
    <p>   this number is the twilio sandbox number from which you would be able to send messages and recieve messages.</p>
    <p>2. Send the given code to the twilio sandbox through</p>
    <div class="jumbotron text-center"><p style="color:red">      join form-lot</p></div>
    <p>You would recieve the message that you can now send and recieve messages through the twilio sandbox</p>
  <h1>And... You are all set!</h1>
  <button id="scrollTopBtn" title="Scroll to Top" type="button" class="btn btn-success" style="display: block; opacity: 1;">▲</button>
  <div align="center"><strong>Copyright</strong><p>But then, there is not much to copy anyway...</p></div>
{% endblock %}
