{% extends 'layout.html' %}

{% block body %}
    <h1>Appointments</h1>
    <table class="table table-striped">
        <tr>
            <th>Number</th>
            <th>Hospital</th>
            <th>Doctor</th>
            <th>Problem</th>
            <th>Date</th>
            <th>Time</th>
            <th><a href="/addappoint" class="btn btn-default pull-right">New</a></th>
        </tr>
        {% for apt in apt %}
            <tr>
                <td>{{apt.id}}</td>
                <td>{{apt.HospName}}</td>
                <td>{{apt.DocName}}</td>
                <td>{{apt.Problem}}</td>
                <td>{{apt.date}}</td>
                <td>{{apt.time}}</td>
                <td></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}