{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
    <h1>Listen to the people who made this all happen!</h1>
    <p class="lead">Only three people were involved in finishing the entire website. Yup! Just three people, that's how easy coding has become...</p>
    <p class="lead">Well, not exactly... it was a bit difficult but we managed to pull it through</p>
  </div>
  <h1>The creators:</h1>
  <p>1. Tarun </p>
  <p>2. Arjun</p>
  <p>3. Shivaram</p>
  <p>Well initially we wanted to brag a lot of the amazing feat we had managed to pull through, but then we became more responsible as there were many people's lives at stake</p>
  <p></p>
  <p></p>
  <p>Of course there are a lot of people who helped us, we would like to thank our teachers, parents, school management, the CBSE board for letting us work on such an exciting software, and we learnt a lot of new things in the process</p>
  <p>we would also like extend our thanks to Brad Traversky and his youtube channel "Traversky Media" for posting such a well explained tutorial series for beginner on python and flask</p>
  <p>we would also like to thank countless other websites for their help in finishing our project, as we could not have done this without those websites.</p>
  <p>Our sincere thanks to Twilio for their features that lets us send whatsapp messages to the hospital management and the customers. we would have really appreciated it if it was open source, but we also understand that our criticisms is not even going to reach their ears.</p>
  <p> </p>
  <p> <p></p> <p> </p> <p> </p> <p> </p> <p> </p> <p> </p>
{% endblock %}
