{% extends 'layout.html' %}

{% block body %}
    <style>
        .btnstretch {
            width: 100%;
        }
		.space {
			padding: 10px;
		}
    </style>
	<div class="text-center">
		<div class="space">
			<a href="/emergency" class="btn btn-default">Emergency ({{emernum}})</a>
		</div>
		<div class="space">
			<a href="/addappoint" class="btn btn-default">Add Appointment</a>
		</div>
		<div class="space">
			<a href="/patienthistory" class="btn btn-default">Past Requests</a>
		</div>
		<div class="space">
			<a href="/hosdetails" class="btn btn-default">Hospital Management</a>
		</div>
		<div class="space">
			<a href="/appointmenthosp" class="btn btn-default">Appointment ({{aptnum}})</a>
		</div>
		<div class="space">
			<a href="/registercustmnmg" class="btn btn-default">Customer Register</a>
		</div>
	</div>
{% endblock %}
