{% extends 'layout.html' %}

{% block body %}
    <style>
        .btnstretch {
            width: 100%;
        }
    </style>
	<h1>Dashboard <small>Welcome {{session.name}}</small></h1>
	<table class="table table-striped">
		<tr>
			<th>Name</th>
			<th>Age</th>
			<th>Gender</th>
			<th>Salary</th>
			<th>Specialization</th>
			<th>Doc id</th>
			<th><a href="/addprofile_hos" class="btn btn-default btnstretch">Add</a></th>
			<th>Delete</th>
		</tr>
		{% for docdata in docdata %}
			{% if session.name == session.name %}
				<tr>
					<td>{{docdata.name}}</td>
					<td>{{docdata.age}}</td>
					<td>{{docdata.gender}}</td>
					<td>{{docdata.salary}}</td>
					<td>{{docdata.spec}}</td>
					<td>{{docdata.docid}}</td>
					<td><a href="/editprofilehos/{{docdata.docid}}" class="btn btn-default btnstretch">Edit</a></td>
					<td><a href="/deletedoc/{{docdata.docid}}" class="btn btn-default btnstretch">Delete</a></td>
				</tr>
			{% endif %}
		{% endfor %}
	</table>
{% endblock %}
