<!DOCTYPE html>
<html>
	<head>
		<title>ZORG</title>
		<link rel="icon" type="image/png" href="/static/Favicon.png">
		<link rel="stylesheet" href="static/css/add_edit.css">
	</head>
	<body>
		{% include "layout.html" %}
		{% for profile in profile %}
			<div class="padding text-center">
				<form method="POST" action="/editprofile">
					<h1 class="text-center">Edit your account</h1>
					<div class="account-details text-center">
						<div class="form-group" align="center"><!--age-->
							<h4 class="right-heading" align="left">Age :</h4>
							<input
								class="text"
								type="text" 
								name="age" 
								placeholder={{profile.age}}>
						</div>
						<div class="form-group" align="center"><!--prevmedrcrds-->
							<h4 class="right-heading" align="left">Previous Medical Records :</h4>
							<input
								class="text"
								type="text" 
								name="prevmedrcrds" 
								placeholder={{profile.prevmedrcrds}}>
						</div>
						<div class="form-group" align="center"><!--address-->
							<h4 class="right-heading" align="left">Address :</h4>
							<input
								class="text"
								type="text" 
								name="address" 
								placeholder={{profile.address}}>
						</div>
						<div class="form-group" align="center"><!--pincode-->
							<h4 class="right-heading" align="left">Pincode :</h4>
							<input
								class="text"
								type="text" 
								name="pincode" 
								placeholder={{profile.pincode}}>
						</div>
						<div class="form-group" align="center">
							<h4 class="right-heading" align="left">Gmail id :</h4>
							<input
								class="text" 
								type="text"
								name="gmail_id"
								placeholder={{profile.gmail_id}}>
						</div>
					</div>
					<button type="submit" class="btn btn-primary" value="Submit">Submit</button>
				</form>
			</div>
		{% endfor %}
	</body>
</html>
