{% extends 'layout.html' %}

{% block body %}
	<h1>Past Requests</h1>
	<table class="table table-striped">
		<tr>
			<th>Name</th>
			<th>Phone Number</th>
			<th>Type</th>
			<th>Address</th>
			<th>Age</th>
			<th>Gender</th>
			<th>Previous Medical Records</th>
		</tr>
		{% for profile in profile %}
			<tr>
				<td>{{profile.namecust}}</td>
				<td>{{profile.aadhar}}</td>
				<td>{{profile.type}}</td>
				<td>{{profile.address}}</td>
				<td>{{profile.age}}</td>
				<td>{{profile.gender}}</td>
				<td>{{profile.prevmedrcrds}}</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}
